@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-4">Welcome</h1>
    <h5>This is an interview case which is given by <b>'Yaz Bilgi Sistemleri'</b>.</a></h5>
</div>
