* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
}
form {
  padding: 20px 40px 40px 40px;
  height: 320px;
  width: 380px;
  border-radius: 25px;
  margin: 30px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  width: 300px;
}
.submit-btn {
  margin-top: 40px;
  margin-right: 10px;
  height: 30px;
  width: 100px;
  background-color: rgb(40, 162, 203);
  border-radius: 50px;
  color: light;
  border: 1px solid rgb(111, 98, 255);
  align-self: center;
}
.submit-btn:hover {
  color: aqua;
  border: 1px solid aqua;
}
.clear-btn {
  margin-top: 40px;
  margin-right: 10px;
  height: 30px;
  width: 100px;
  background-color: rgb(40, 162, 203);
  border-radius: 50px;
  color: light;
  border: 1px solid rgb(111, 98, 255);
  align-self: center;
}
.clear-btn:hover {
  color: aqua;
  border: 1px solid aqua;
}
.results {
  padding: 20px 40px 40px 40px;
  height: 320px;
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: lightgreen;

  border-radius: 25px;
}
.result-label {
  margin-top: 20px;
  margin-bottom: 5px;
}
.result {
  display: flex;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  font-size: 14px;
  padding: 1px;
  margin-left: auto;
}
.result-message {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: larger;
}
